
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
p {
    line-height: 1.5;
}
.parentdiv {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

h3 {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

button {
    cursor: pointer;
    border: none;
}

.topnav{
    width:  93.5vw;
    height: 5vh;
    background-color: black;
    color: white;
    font-size: 12px;
    opacity: 70%;
    display: inline-flex;
    padding-top: 1.5vh;
    padding-left: 5vw;
}

.navtext {
    padding-left: 2vw;
}

.language-menu {
    display: inline-block;
    position: relative;
    padding-left: 55vw;
}

.language-button {
    background-color: black;
    color: white;
    font-size: 12px;
}

.language-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: black;
    width: 7vw;
}

.language-menu:hover .language-options {
    display: block;
}

.language-options a {
    display: block;
    color: white;
    padding: 5px;
}


.headermenucont {
    margin-right: 5vw;
    float: right;
}

.mobileburger {
    position: fixed;
    z-index: 100;
    top: 2.5rem;
    right: 1rem;
    padding: 4px;
    background-color: rgb(7, 14, 40);
    margin-right: 5vw;
}

.closeIcon {
    display: none;
    color: white;
}

.menuIcon {
    color: white;
}

.mobilemenu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 4rem;
    line-height: 3;
    background: rgb(61, 83, 160);
    color: white;
    font-weight: 600;
}

.showMenu {
    transform: translatey(0);
}

#contactbutton {
    text-align: center;
    width: 80px;
    height: 40px;
    border-radius: 70px;
}

.headermenutext {
    font-size: 15px;
    margin: 1.5vw;
}

.headerlogo {
    height: 12vh;
    margin-left: 5vw;
    position: relative;
}

header {
    height: 20vh;
    background-color: rgb(7, 14, 40);
}

.topmain {
    height: 40vh;
    background-size: cover;
    background-image: url(pictures/offer.png);
}

.topmaintext {
    width: 50vw;
    font-size: 20px;
    padding-top: 15vh;
    padding-left:5vw;
}

.you-cont {
    height: 40vh;
    padding-left: 5vw;
    padding-top: 10vh;
    align-items: right;
}

.you-text {
    font-size: 50px;
    font-weight: 700;
}
.textcontainer {
    height: 70vh;
}
.textcont1 {
    height: 40vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 20px;
}

.textcont2 {
    width: 40vw;
    height: 70vh;
    padding-left: 5vw;
    float: left;
    font-size: 20px;
}

.textcont3 {
    width: 40vw;
    height: 70vh;
    float: right;
    padding-right: 5vw;
}

.text3, .text31 {
    padding-left: 10vw;
    padding-top: 13vh;
}
.picturescont {
    height: 80vh;
    width: 100%;
    
}
.picturebox{
    height: 70vh;
    width: 90vw;
    background-image: url(pictures/offer2.jpg);
    background-size: cover;
    background-position: bottom;
    margin: auto;
}


main {
    height: 100%;
}
.footercont {
    width: 90vw;
    height: 60vh;
    margin-left: 5vw;
    color: white;
}

.footerbox,
.footerbox1 {
    width: 20vw;
    height: 55vh;
    background-color: rgb(7, 14, 40);
    display: inline-block;
    vertical-align: top;
}

.footerboxpic {
    width: 20vw;
    height: 55vh;
    background-color: rgb(7, 14, 40);
    display: inline-block;
    vertical-align: top;
}

.footerlogo {
    padding-top: 7vh;
    width: 250px;
}

.logotext {
    position: absolute;
    font-size: small;
}

.footertext {
    margin-left: 5vw;
    line-height: 2;
    font-size: medium;
    display: inline-block;
}

.mobilefooter {
    margin-left: 5vw;
    line-height: 2;
    font-size: medium;
}

.footerlinkedin {
    width: 3.5vw;
    height: 7vh;
    margin-left: 5vw;
    margin-top: 2vh;
    border-radius: 50%;
    background-image: url(pictures/linkedinvit.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-color: rgb(0, 119, 181);
}

.footerlinkedin:hover {
    background-image: url(pictures/linkedinsvart.png);
    background-repeat: no-repeat;
    background-size: 3.5vh;
    background-color: white;
    transition: 0.1s;
}

footer {
    height: 100%;
    background-color: rgb(7, 14, 40);
}

/* @media screen and (max-width: 1050px){
    .picturescont {
        display: none;
    }
    
} */


@media screen and (max-width: 700px) {
  
    .topnav {
        font-size: 10px;
        width: 91vw;
        height: 3vh;
        text-align: center;
    }

    .navtext {
        margin-left: 20vw;
    }
    .language-menu {
       padding-left: 20vw;
    }
    .language-button {
        font-size: 10px;
    }

    .headermenucont,
    .headermenutext,
    #contactbutton {
        display: none
    }

    header {
        height: 15vh;
    }

    .headerlogo {
        height: 9vh;
        padding-left: 5vw;
        padding-top: 1vh;
    }
    .topmain {
        height: 35vh;
    }
    .topmaintext {
        font-size: 18px;
        width: 80%;
    }
    .you-cont {
        height: 30vh;
    }
    .you-text {
        font-size: 30px;
    }
    .textcont1, .textcont2, .textcont3{
        font-size: 15px;
        height: 45vh;
    }
    .textcont2 {
        width: 50vw;
    }
    .textcont3 {
        width: 30vw;
        font-size: 14px;
    }
    .text31 {
        display: none;
    }
    .picturescont {
        height: 55vh;
    }
    .picturebox {
        height: 50vh;
    }
    .footerboxpic {
        display: none;
    }

    .footerbox {
        width: 37vw;
        height: 35vh;
    }

    .footertext,
    .mobilefooter {
        font-size: small;
        line-height: 1.8;
    }

    .footerlinkedin {
        display: none;
    }
     
    .footerbox1 {
        display: none;
    }

    .mobilefooter {
        display: inline-block;
    }

    .footercont {
        height: 45vh;
    }

 

}
@media screen and (min-width: 768px) {

    .mobileburger,
    .mobilemenu,
    .menuItem,
    .closeIcon,
    .menuIcon, 
    .mobilefooter {
        display: none;
    }
}

/* mobil */
@media screen and (max-width: 600px) {
    .topnav {
        font-size: 8px;
        width: 91vw;
        height: 3vh;
        text-align: center;
    }
    .language-button {
        font-size: 8px;
    }
 
}