* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

p {
    line-height: 1.8;
}


ul {
    line-height: 1.8;
}

li {
    padding-top: 2vh;
}

a {
    text-decoration: none;
    color: white;
}

h3 {
    margin-top: 5vh;
}

h2 {
    margin-bottom: 3vh;
}

button {
    cursor: pointer;
    border: none;
}

.parentdiv {
    display: flex;
    flex-direction: column;
}

.topnav {
    width: 93.5vw;
    height: 5vh;
    background-color: black;
    color: white;
    font-size: 12px;
    opacity: 70%;
    display: inline-flex;
    padding-top: 1.5vh;
    padding-left: 5vw;
}

.navtext {
    padding-left: 2vw;
}

.language-menu {
    display: inline-block;
    position: relative;
    padding-left: 55vw;
}

.language-button {
    background-color: black;
    color: white;
    font-size: 12px;
}

.language-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: black;
    width: 7vw;
}

.language-menu:hover .language-options {
    display: block;
}

.language-options a {
    display: block;
    color: white;
    padding: 5px;
}

.headercont {
    height: 10vh;
}

.headerlogo {
    height: 9vh;
    margin-left: 5vw;
    float: left;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 2.5rem;
    right: 1rem;
    padding: 4px;
    border: none;
    background-color: rgb(7, 14, 40);
}

.closeIcon {
    display: none;
    color: white;
}

.menuIcon {
    color: white;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 10;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-left: 5vw;
    padding-top: 4rem;
    line-height: 2;
    background: rgba(45, 70, 92, 1);
    color: white;
    font-weight: 600;
    font-size: larger;
    text-align: center;
}

.showMenu {
    transform: translatey(0);
}

header {
    height: 17vh;
    background-color: rgb(7, 14, 40);
}

.topmaintext {
    width: 60%;
    font-size: 20px;
    padding-top: 10vh;
    padding-left: 5vw;
}

.privacyblocks,
.termsblock {
    font-size: 15px;
    margin-left: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.termsblock2 {
    margin-top: 5vh;
    width: 50vw;
}

.termsblock2 a {
    color: black;
    font-weight: 500;
}

.contactbutton {
    width: 30vw;
    height: 10vh;
    margin-bottom: 10vh;
    margin-top: 1vh;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}


main {
    height: 250vh;

}

.footercont {
    width: 90vw;
    height: 55vh;
    margin-left: 5vw;
    color: white;
}

.footerbox1,
.footerbox2,
.footerbox3 {
    width: 29vw;
    height: 70vh;
    background-color: rgb(7, 14, 40);
    display: inline-block;
    vertical-align: top;
}

.footerlogo {
    padding-top: 10vh;
    width: 350px;

}

.logotext {
    position: absolute;
    font-size: small;
}

.footercont {
    width: 90vw;
    height: 55vh;
    margin-left: 5vw;
    color: white;
}

.footerbox,
.footerbox1 {
    width: 20vw;
    height: 55vh;
    background-color: rgb(7, 14, 40);
    display: inline-block;
    vertical-align: top;
}

.footerboxpic {
    width: 20vw;
    height: 55vh;
    background-color: rgb(7, 14, 40);
    display: inline-block;
    vertical-align: top;
}

.footerlogo {
    padding-top: 7vh;
    width: 250px;
}

.logotext {
    position: absolute;
    font-size: small;
}

.footertext {
    margin-left: 5vw;
    line-height: 2;
    font-size: medium;
    display: inline-block;
}


.footerlinkedin {
    width: 3.5vw;
    height: 7vh;
    margin-left: 5vw;
    margin-top: 2vh;
    border-radius: 50%;
    background-image: url(pictures/linkedinvit.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-color: rgb(0, 119, 181);
    border: none;
}

.footerlinkedin:hover {
    background-image: url(pictures/linkedinsvart.png);
    background-repeat: no-repeat;
    background-size: 3.5vh;
    background-color: white;
    transition: 0.1s;
}

footer {
    height: 60vh;
    background-color: rgb(7, 14, 40);
}


@media screen and (min-width: 800px) {

    .mobilefooter {
        display: none;
    }

}

@media screen and (max-width: 700px) {

    .topnav {
        font-size: 6px;
        width: 90vw;
        height: 3vh;
        text-align: center;

    }

    .language-button {
        font-size: 6px;
    }

    .topmainText {
        font-size: 15px;
        width: 80%;
    }

    .navtext {
        padding-left: 20vw;
    }

    header {
        height: 17vh;
    }

    .headerlogo {
        height: 9vh;
        padding-left: 5vw;
        padding-top: 1vh;
    }

    main {
        height: 100%;
    }

    .footerboxpic {
        display: none;
    }

    .footerbox {
        width: 37vw;
        height: 35vh;
    }

    .footertext,
    .mobilefooter {
        font-size: small;
        line-height: 1.8;
    }

    .footerlinkedin {
        display: none;
    }

    .footerbox1 {
        display: none;
    }

    .mobilefooter {
        display: inline-block;
    }

    .footercont {
        height: 40vh;
    }

    footer {
        height: 40vh;
    }

}